.icon-button {
  display: block;
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  color: inherit;

  &__icon {
    max-height: 100%;
    max-width: 100%;
    stroke: currentColor;
    stroke-width: 2px;
    fill: none;
  }

  &__text {
    @mixin visually-hidden;
  }

  &_size {
    &_m {
      .icon-button__icon {
        height: 24px;
        width: 24px;
      }
    }

    &_l {
      .icon-button__icon {
        height: 36px;
        width: 36px;
      }
    }
  }
}
