.menu-button {
  display: inline-flex;
  background: none;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  white-space: nowrap;
  font: inherit;
  align-items: center;

  &__burger-icon {
    width: 24px;
    height: 2px;
    position: relative;
    padding: 11px 0;

    @media (min-width: $tablet-portrait) {
      margin-right: 8px;
    }

    &::after,
    &::before {
      content: '';
    }
  }

  &__burger-icon::before,
  &__burger-icon::after,
  &__burger-line {
    transition: transform .2s ease-in-out;
    position: absolute;
    display: block;
    background-color: #000;
    width: 100%;
    height: 2px;
  }

  &__burger-icon::before {
    transform: translateY(-6px);
  }

  &__burger-icon::after {
    transform: translateY(6px);
  }

  &__text {
    display: none;

    @media (min-width: $tablet-portrait) {
      display: block;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }
  }

  &_active {
    .menu-button__burger-icon::before {
      transform: rotate(45deg);
    }

    .menu-button__burger-icon::after {
      transform: rotate(-45deg);
    }

    .menu-button__burger-line {
      opacity: 0;
    }
  }
}
