<form class="quicklogin" id="quicklogin">
  <div class="h-flex">
    <h3 class="ui__title">Вход</h3>
    <svg class="close" onclick="toggleQuicklogin()"><use xlink:href="#i-close"></use></svg>
  </div>
  <div class="ui__group">
    <input type="email" name="email" placeholder="Адрес электронной почты" id="input-email" class="ui__input ui__input_fw" />
  </div>
  <div class="ui__group">
    <input type="password" name="password" placeholder="Пароль" id="input-password" class="ui__input ui__input_fw" />
  </div>
  <div class="ui__group">
    <a class="link link_quicklogin" href="index.php?route=account/forgotten">Не помню пароль</a>
  </div>
  <div class="ui__group">
    <a class="link link_quicklogin" href="index.php?route=account/register">Я — новый покупатель</a>
  </div>
  <div class="ui__buttons">
    <button id="js-quicklogin__login" class="button">Войти</button>
  </div>
</form>
