.button {
  display: inline-flex;
  place-content: center;
  background-color: var(--blue);
  color: #fff;
  border-radius: 5px;
  padding: 9px 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin: 0 10px;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  box-sizing: border-box;
  font-weight: 500;

  &:hover {
    background-color: var(--dark-blue);
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:only-of-type {
    margin: 0;
  }
}
