.link-group {
  display: block;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
  }

  &_direction {
    &_column {
      .link-group__item {
        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }

    &_row {
      display: flex;
      flex-wrap: wrap;

      .link-group__item {
        &:not(:last-child) {
          margin-right: 18px;
        }
      }
    }
  }
}
