/*
#5560de - a:visited
*/

/*Сбросы*/
input,
textarea {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*Хэлперы*/
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.h-center {
  text-align: center;
  justify-content: center;
}
.h-right {
  text-align: right;
}
.h-block {
  display: block;
}
.h-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.h-disable-hover {
  pointer-events: none;
}
/*Разметка*/
.l-wrapper {
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
}

.l-container {
  display: block;
  overflow: visible;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  z-index: 5;
}
.l-container_padding {
  padding: 30px 0;
}
.l-module {
  margin: 20px 0;
}
.l-module:first-of-type {
  margin-top: 0;
}
.l-module:last-of-type {
  margin-bottom: 0;
}
.l-footer {
  padding: 20px 0 40px 0;
}
.l-footer__column {
  margin: 20px 0 0 0;
}
.l-footer__row {
  display: block;
  margin: 3px 0;
}
.l-reference {
  margin: 25px 0 0 0;
}
.l-fullscreen {
  display: flex;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow-y: auto;
  z-index: 99;
}
.l-module {
  margin: 20px 0 0 0;
  padding: 0;
}
.l-preloader {
  display: none;
}
/*Общие*/
img {
  max-width: 100%;
}
p {
  line-height: 1.5;
}
form {
  overflow: visible;
}
/* Базовый интерфейс */
.header_sticky {
  position: sticky;
  top: -1px;
  z-index: 98;
}

.close {
  display: block;
  fill: #131313;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.remove {
  display: inline-block;
  fill: #fa275c;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.nav {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  display: inline-block;
  padding: 0;
  margin: 5px 15px 5px 0;
}
.nav :last-child {
  margin-right: 0;
}

.catalog__img_small {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.catalog__price {
  font-weight: 700;
  padding: 0;
}
.catalog__price_old {
  text-decoration: line-through;
  font-weight: 300;
  opacity: .5;
}
.catalog__empty {
  margin: 40px 0 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 120%;
}
.help {
  display: inline-block;
}
.help__icon > svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #b9c7cb;
  fill: currentColor;
  vertical-align: middle;
}
.link_help {
  display: inline-block;
  color: currentColor;
  border-bottom: 1px solid rgba(185, 199, 203, .3);
  vertical-align: middle;
}
.link_help:hover {
  border-bottom: 1px solid rgba(185, 199, 203, .9);
}
/* Подсказка */
.hint {
  position: absolute;
  display: none;
  background-color: rgba(244, 243, 227, 0.8);;
  font-size: 80%;
  border-radius: 5px;
  position: absolute;
  z-index: 99;
  padding: 10px;
  max-width: 100%;
}
.hint > table {
  border-collapse: collapse;
  max-width: 400px;
}
.hint > table > tr > td {
  padding: 5px 0;
}
.hint > table  tr :last-child {
  padding-left: 15px;
  font-weight: 700;
  vertical-align: top;
}
.table {
  border-collapse: collapse;
}
.table td {
  border: 1px solid #ededed;
  padding: 5px;
}
.document {
  display: block;
  border: none;
  padding: 30px 50px;
  -webkit-box-shadow: 2px -2px 12px 3px rgba(238,238,238,1);
  -moz-box-shadow: 2px -2px 12px 3px rgba(238,238,238,1);
  box-shadow: 2px -2px 12px 3px rgba(238,238,238,1);
  border-radius: 3px;
}
.ui__group {
  margin: 10px 0;
  padding: 0;
  position: relative;
}
.ui__group_required::before {
  content: '*';
  color: #E32351;
  position: absolute;
  left: -10px;
}
.ui__alert {
  display: inline-block;
  padding: 2px 5px;
  margin: 5px 0;
  background-color: #ffefe7;
  color: #d5916a;
  border-radius: 5px;
  font-size: 90%;
}
.ui__input,
.ui__input[type=text],
.ui__input[type=password],
.ui__input[type=email],
.ui__input[type=tel] {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 12px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid #b9c7cb;
  font: inherit;
  background-color: transparent;
}
.ui__input_fw {
  width: 100%;
}
.ui__textarea {
  display: block;
  padding: 10px 12px;
  border: 1px solid #b9c7cb;
  width: 100%;
  max-width: 100%;
  font: inherit;
  border-radius: 5px;
  resize: vertical;
  background-color: transparent;
}
.ui__select {
  padding: 10px 20px 10px 12px;
  border-radius: 5px;
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #b9c7cb;
  background-image: url('../image/select.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.c-products__sort > option {
  padding: 2px 5px;
  font: inherit;
  border: 1px solid #eee;
}
.ui__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  margin: 20px 0 0 0;
}
.ui__buttons_al {
  justify-content: flex-start;
}
.ui__title {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 180%;
  text-align: left;
}
.ui__message {
  display: block;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #63d1ab;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.ui__message_error {
  background-color: #fa275c;
}
.ui__form {
  margin: 0 auto;
  max-width: 760px;
}
.ui__quantity {
  display: inline-block;
  padding: 3px 0;
  margin: 0 10px 0 0;
  background-color: #ededed;
  color: #131313;
  border-radius: 5px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ui__quantity > input {
  display: inline-block;
  border: none;
  background-color: transparent;
  text-align: center;
}
.ui-quantity__down,
.ui-quantity__up {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
/*Костыли*/
.pagination__wrapper {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.pagination {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  flex-grow: 1;
}
.pagination > li {
  display: inline-block;
  margin: 0 5px 0 0;
}
.pagination > li:last-child {
  margin-right: 0;
}
.pagination > li.active {
  background-color: #ededed;
  padding: 5px;
  border-radius: 5px;
}
.pagination > li > a {
  text-decoration: none;
  border-bottom: rgba(69, 109, 241, .3) solid 1px;
  color: #456df1;
}
.pagination > li > a:hover {
  border-bottom: rgba(69, 109, 241, .9) solid 1px;
}

/* Хэдер */
.schedule {
  display: inline-block;
  margin: 5px 0;
  padding: 0 6px 4px 6px;
  background-color: #f4f3e3;
  border-radius: 5px;
}
.address {
  display: block;
}
.address__metro {
  display: block;
}
.address__icon {
  fill: #ff0000;
  width: 17px;
  height: 12px;
}
.link_discount {
  color: #ed6569;
  border-bottom: 1px solid rgba(233, 107, 86, .3);
}
.link_discount:hover {
  border-bottom: 1px solid rgba(233, 107, 86, .9);
}
.icon_discount {
  width: 16px;
  height: 16px;
  fill: #ed6569;
}

/* Футер */
.footer__caption {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}
.reference__link {
  color: #456df1;
  text-decoration: none;
  border-bottom: 1px dashed rgba(69, 109, 241, .3);
  cursor: pointer;
}
.reference__p {
  font-size: 80%;
}

/*account/_*/
.account__list {
  margin: 0;
  padding: 0;
}
.account__item {
  display: block;
  margin: 5px 0;
}

/* account/orders */
.order__title {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 150%;
  font-weight: 700;
}
.order__subtitle {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 110%;
  font-weight: 700;
}


/* information/contact */
.contact__col {
  margin: 0 0 20px 0;
}
.contact__row {
  display: block;
}

/* modules/cart */
.button_cart {
  padding: 10px 20px;
}

/*modules/category*/
.c-categories {
  display: block;
  padding: 15px 20px;
  background-color: #b9c7cb;
  border-radius: 5px;
  list-style: none;
}
.с-categories__item {
  display: block;
  padding: 5px 0;
  margin: 0;
}
.с-categories__subitem {
  display: block;
  padding: 5px 0 5px 10px;
  margin: 0;
}
.c-categories__link {
  color: #131313;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.c-categories__link_active {
  color: #131313;
  border-bottom: none;
  font-weight: 700;
}

/*product/category*/
.c-products__sort {
  padding: 2px 20px 2px 5px;
  margin: 0 3px 0 0;
  border-radius: 5px;
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  color: #131313;
  border:none;
  background-image: url('../image/select.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.c-products__sort > option {
  padding: 2px 5px;
  font: inherit;
  background-color: #eee;
  color: #131313;
  border:none;
}

/*product/product*/
.product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.product__col {
  width: 50%;
  position: relative;
}
.product__images {
  position: sticky;
  top: 0;
  bottom: 0;
  padding: 0 40px 0 0;
}
.product__subtitle {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 120%;
  font-weight: 700;
}

.product__price_old {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
.product__price_through {
  text-decoration: line-through;
}
.oneclick__title {
  display: block;
  font-size: 75%;
}
.oneclick__price {
  display: block;
  font-size: 150%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.product__attributes {
  border-collapse: collapse;
}
.product__attributes tr {
  border-bottom: 1px solid #ededed;
}
.product__attributes td {
  padding: 5px 0;
}
.product__attributes td:last-child {
  font-weight: 700;
  padding-left: 15px;
}
.product__attributes td[colspan='2'] {
  font-weight: 300;
  padding-left: 0;
}
.product__attachments {
  border: none !important;
}
.link__manufacturer {
  color: currentColor;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-size: 120%;
}
.link__manufacturer:hover {
  border-bottom: 1px solid rgba(0, 0, 0, .9)
}

/* Быстрый заказ */
.quickorder__wrapper {
  background-color: rgba(255, 255, 255, .97);
  display: none;
}
.quickorder__wrapper_visible {
  display: flex;
}
.quickorder {
  display: block;
  margin: auto;
  max-width: 640px;
  width: 80%;
  padding: 40px;
}
.quickorder__product {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 15px 0 10px 0;
}
.quickorder__image {
  margin: 0 10px 0 0;
}
.quickorder__name {
  flex-grow: 1;
}
.quickorder__error {
  display: block;
  text-align: center;
  margin: 20px 0 10px 0;
  padding: 2px 5px;
  background-color: #ffefe7;
  color: #d5916a;
  border-radius: 5px;
  font-size: 90%;
}

/* modules/filter */
.c-filter__checkbox {
  display: block;
  margin: 5px 0;
  color: #80808c;
}
.c-filter__checkbox label:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
  background-color: #ededed;
  border-radius: 3px;
  margin: 0 5px 0 0;
  border: none;
  text-align: center;
}
.c-filter__checkbox input[type=checkbox] {
	display: none;
}
.c-filter__checkbox input[type=checkbox]:checked + label:before {
  content: '\2713';
  line-height: 14px;
  color: #131313;
}
.c-filter__title {
  display: inline-block;
  margin-top: 5px;
}

/* modules/account */
.c-account {
  display: block;
  background-color: #b9c7cb;
  border-radius: 5px;
  list-style: none;
  padding: 15px 20px;
}
.c-account__item {
  display: block;
  padding: 0;
  margin: 5px 0;
}
.link_account {
  color: #131313;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.link_account:hover {
  border-bottom: 1px solid rgba(0, 0, 0, .9);
}
/* information/_ */
.information__title,
.information__text {
  margin: 24px auto 12px;
  max-width: 760px;
}
.information__title {
  text-align: center;
}
.information__text p {
  margin: 24px auto 12px;
  font-size: 120%;
  line-height: 1.5;
}

.search__input {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b9c7cb;
  flex-grow: 1;
  font: inherit;
  font-weight: 700;
}
.search__category {
  padding: 2px 20px 2px 5px;
  border-radius: 5px;
  font: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  color: #131313;
  border:none;
  background-image: url('../image/select.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.search__category > option {
  padding: 2px 5px;
  font: inherit;
  -moz-appearance: none;
  background-color: #eee;
  color: #131313;
  border:none;
}
.search__option {
  margin: 0 0 0 15px;
}
.search__results {
  padding: 20px 0 0 0;
  margin: 0;
}
/*checkout*/
.checkout__shipping {
  margin: 10px 0;
}
.checkout__agreement {
  margin-top: 30px;
}

/* product/special */
.special {
  max-width: 760px;
}
.special__title {
  text-align: center;
  font-size: 200%;
  margin: 20px 0;
  color: #f77160;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .l-header__search {
    order: 2;
    min-width: 40%;
  }
  .l-cart-button {
    order: 3;
  }
  .l-header__account {
    order: 5;
    margin: 10px 0 0 0;
  }
}
@media screen and (max-width: 800px) {
  .help {
    margin: 15px 0;
  }
  .product__col {
    width: 100%;
  }
  .product__images {
    padding: 0;
  }
  .l-header__row {
    flex-wrap: nowrap;
  }
  .l-header__logotype,
  .l-header__hamburger {
    margin-right: 20px;
  }
  .l-header__logotype {
    flex-grow: 1;
    min-width: 35%;
  }
  .l-cart-button {
    order: 2;
    margin-right: 0;
  }
  .l-header__search,
  .l-header__account,
  .l-header__hamburger {
    display: block;
  }
  .c-slider {
    margin: 20px 0 0 0;
  }
  .featured__pagination {
    margin: 0 0 20px 0;
  }
  .phone {
    font-size: 120%;
  }
  .l-module:first-of-type {
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 650px) {
  .schedule,
  .l-header__address {
    display: none;
  }
}
