<form
  id="search"
  class="header-search"
>
  <input
    type="text"
    name="search"
    class="header-search__input text-field"
    value="{{ search }}"
    placeholder="{{ text_search }}"
  />
</form>
