<form class="header-search">
  <input
    type="text"
    name="search"
    class="header-search__input"
    value="{{ search }}"
    placeholder="{{ text_search }}"
  />
  <div class="header-search__suggestions"></div>
</form>
