.product-grid {
  display: flex;
  flex-wrap: wrap;
  border-left: solid 1px var(--gray);

  &__item {
    flex: 0 0 calc(100% / 4);
    box-sizing: border-box;
    border-top: solid 1px var(--gray);
    border-right: solid 1px var(--gray);
    border-bottom: solid 1px var(--gray);
    position: relative;

    &:last-child {
      margin-right: auto;
    }
  }
}
