.link {
  text-decoration: none;

  &_theme {
    &_standard {
      color: var(--blue);
      border-bottom: 1px solid rgba(42, 106, 158, .2);

      &:hover {
        border-bottom: 1px solid rgba(42, 106, 158, .9);
      }
    }

    &_context {
      color: inherit;
    }

    &_ghost {
      color: #808d9a;
      border-bottom: 1px solid rgba(168, 176, 178, .1);

      &:hover {
        border-bottom: 1px solid rgba(168, 176, 178, .6);
      }
    }
  }
}

