.link {
  text-decoration: none;

  &_theme {
    &_standard {
      color: var(--blue);

      &:hover {
        color: var(--dark-blue);
      }
    }

    &_context {
      color: inherit;

      &:hover {
        color: var(--blue);
      }
    }
  }
}

