:root {
  --gray: #ededed;
  --dark-gray: #4a525a;
  --blue: #5c80bc;
  --dark-blue: #4464ad;
  --orange: #f77160;
  --steel: #8d99ae;
  --steel-rgb: 141, 153, 174;
  --red: #ef233c;
  --cian: #bde0fe;
}
