.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
  text-align: center;

  &_opened {
    display: block;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &__window {
    display: inline-block;
    vertical-align: middle;
    text-align: initial;
  }

  &_type {
    &_dialog {
      background-color: rgba(168, 176, 178, .2);
    }

    &_cart {
      text-align: right;
    }
  }
}
