<div class="catalog-menu">
  <div class="wrapper catalog-menu__inner">
    <div class="catalog-menu__search">
      <form class="mobile-search">
        <label for="mobile-search">
          <input
            id="mobile-search"
            class="text-field"
            type="text"
            placeholder="Поиск"
          />
        </label>
      </form>
    </div>
    {% if categories %}

    <ul class="catalog-menu__menu menu menu_type_catalog-categories">
      {% for category in categories %}
      <li class="menu__item">
        <a
          class="menu__link link link_theme_context"
          href="{{ category.href }}"
        >
          {{ category.name }}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% endif %}
  </div>
</div>
