.product {
  display: flex;

  &__info {
    width: 60%;
    margin-right: 48px;
  }

  &__order {
    position: sticky;
    top: 24px;
    align-self: flex-start;
  }

  &__order-button {
    margin-bottom: 24px;
  }

  &__quick-order-button {
    margin-bottom: 8px;
  }

  &__quick-order-description {
    font-size: 14px;
    line-height: 18px;
    color: #ccc;
  }

  &__summary {

  }

  &__hidden-text {
    @mixin visually-hidden;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }

  &__stock {
    margin: 8px 0 0;
  }

  &__price {
    margin: 8px 0 0;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
  }

  &__manufacturer {
    margin: 0;
  }

  &__photo {
    margin-bottom: 32px;
  }
}
