.product {
  &__summary {

  }

  &__hidden-text {
    @mixin visually-hidden;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }

  &__stock {
    margin: 8px 0 0;
  }

  &__price {
    margin: 8px 0 0;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
  }

  &__manufacturer {
    margin: 0;
  }
}
